
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@1,500&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
}

html {
    background-color: skyblue;
    background-image: linear-gradient(to bottom, blue, skyblue);
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: 'nunito', sans-serif;
    font-weight: 500;
    width: 100vw;
}

.hero {
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
    background-color: #000;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.hero__p {
    color: aliceblue;
}

p {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

p:first-child {
    padding-top: 45px;
    font-weight: bold;
    text-align: center;
}

p:last-child {
    padding-top: 40px;
    text-align: center;
}



/* .nowrap {
    white-space: nowrap;
} */

